# Ignore everything
*

# But not these files...
!.gitignore
!run_test_zig_zag_demo.cu
!exponential_growth_schiffels_durbin.txt
!sd_simple_exponential.txt
# etc...

# ...even if they are in subdirectories
!*/

